

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: url(https://t4.ftcdn.net/jpg/06/91/05/19/240_F_691051962_GFhQPOAXABmf7l706q89b2PFh6FnB1kI.jpg) no-repeat;
  background-size: cover;
  background-position: center;
    color: white;
    position: relative; 
    min-height: calc(100vh - 60px); 
  }
  
  .app-wrapper-info {
    flex: 1;
    padding: 20px;
    order: 1; 
    text-align: left;

  }
  
  .app-header-h1 {
    font-size: 4.5rem;
  
    
  }
  
  .p__opensans {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
 
 
  
  .app-wrapper-img {
    flex: 0 0 auto; 
    margin-left: auto; 
    order: 2; 
    margin-bottom: 20px;
  }
  
  .app-wrapper-img img {
    width: 100%;
    max-width: 600px; 
    height: 400px;
  }
  
  @media screen and (max-width: 768px) {
    .app-header {
       width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 10px;
    }
  
    .app-wrapper-img {
      margin-left: 0; /* Center the image horizontally on smaller screens */
      margin-top: 20px; /* Adjust spacing */
    }
  }
  