/* src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section-padding {
  padding: 60px 20px;
}

.app-bg {
  background-color: #f1f1f1;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-bottom {
  animation: slideBottom 0.5s ease-in-out;
}

@keyframes slideBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
